.button{
    /* Runt knapparna är det 3px som är den solid lightblue */
    border: 3px solid lightblue;
    /* Färgen på knapparna blir aquamarine */
    background-color: aquamarine;
    /* höjd och läng på knapparna och det med margin är i procent av viewport. */
    height: 50px;
    width: 75px;
    border-radius: 5px;
    margin : 2vh 3vw 2vh 3vw;
}



.button:hover{
    /* Då du håller över knapparna ändras färgen på dem till bluevoilet men med border 3px solid lightblue så ändras inte färgen runt */
    background-color: blueviolet;
    border: 3px solid lightblue;
}

.rox {
    /* Simpla kommand som ändrar position på inehållet. */
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:   blue;
    top: 50%;
    left: 50%;
    /* den här kommandet translate används för att ändra positionen för x axen och y axeln baseat på parametrarna */
    transform: translate(-50%, -50%);
    /* max bredden är 100 procent och höjd är då auto och med min-width:1% så kan minsta bredden vara 1% */
    max-width:100%;height: auto;
    min-width:1%;
}


#picture{
    /* 15 procent i bredd och höjd är auto men vw menas 15 procent av viewport */
    width: 15vw;
    height:auto;

}

    /* 3 vw 3% viewport. Jag vill även säga att det med vh gör sidan responsiv
     också eftersom den ändrar storlek beroende på hur många procent användaren
      ska se beroende på viewport tex om viewporten är 50 cm bred och det står 1vw så är den 0.5cm */
#time , #title{
    font-size: 3vw;
}

#content{

    max-width: 768px;
    min-width: 200px;
    max-height: 600px;
    min-height: 150px;
    
}

  
  